[submodule "nodeodm/external/NodeODM"]
	path = nodeodm/external/NodeODM
	url = https://github.com/OpenDroneMap/NodeODM
[submodule "locale"]
	path = locale
	url = https://github.com/OpenDroneMap/WebODM-Locale
[submodule "coreplugins/projects-admin"]
	path = coreplugins/projects-admin
	url = https://github.com/BuildmodeOne/odm-projects-admin.git
[submodule "coreplugins/sharing-control"]
	path = coreplugins/sharing-control
	url = https://github.com/BuildmodeOne/odm-sharing-control.git
[submodule "coreplugins/app-customizer"]
	path = coreplugins/app-customizer
	url = https://github.com/BuildmodeOne/odm-app-customizer.git
[submodule "coreplugins/droneup-api"]
	path = coreplugins/droneup-api
	url = https://github.com/BuildmodeOne/odm-droneup-api.git
